@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #1e1e1e;
}

@theme inline {
  --font-hero: var(--font-aboreto);
  --font-heading: var(--font-alegreya-sans-sc);
  --font-body: var(--font-inter);
  --font-button: var(--font-zen-kurenaido);
  --font-label: var(--font-zen-kurenaido);

  --color-primary: #1f3542;
  --color-secondary: #2d5a71;
  --color-muted: #5e7986;
  --color-accent: #f9c67a;
  --color-primary-brown: #1e1e1e;
  --color-secondary-brown: #735e4d;
  --color-muted-brown: #bdae9f;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1e1e1e;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}
